extends layout

block content
  script(type="text/javascript", src="/scripts/login.js")
  h1
    | #{title}
  div#add_user
    h2 Add New User
    form(method="POST", action="/login", id="form_add_user")
      input(type="text", name="league_name", id="league_name")
      br
      input(type="submit", value="Register", id="btn_add_user")
  h2 Current Users
  div
    table#current-users
      thead
        tr
          th
            | Profile Icon
          th
            | Username
          th
            | ID
          th
            | Summoner Level
      each user in users
        tr
          if user.profileIconId
            td
              img(src="//ddragon.leagueoflegends.com/cdn/" + version + "/img/profileicon/" + user.profileIconId + ".png")
            td.username=user.name
            td=user.id
            td.summoner-level=user.summonerLevel
          else
            td
              img(src="/images/default_profile_icon.gif")
            td.username=user.name
            td
              | ???
            td.summoner-level
              | --
