extends layout

block content
  h1=title
  div
    table#page-view
      tr
        th Date
        th Views
        th URL
        th Referer
      each pageInfo in pageViewInfos
        tr
          td
            | #{pageInfo.formattedDate}
          td
            | #{pageInfo.views}
          td
            | #{pageInfo.url}
          td.wide-col
            | #{pageInfo.referer}
          